.contacts{
    background: fixed ;
}
/* hr{
    transform: ; */
}
.services{
    height: 300px;
    margin: 10px;
    padding: 10px;
}
.wedo{
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */

}

